@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin'),
       local('cabin-v12-latin-regular'),
       url(../fonts/cabin-v12-latin-regular.ttf) format('truetype');
}

html,body{
  font-family: 'Cabin';
  height:100%;
  overflow: hidden;
  user-select: none !important;
  -webkit-user-select: none !important;
}

.jconfirm{z-index: 9999 !important;}
.jconfirm.jconfirm-white .jconfirm-bg, .jconfirm.jconfirm-light .jconfirm-bg{background-color: #000; opacity: .3;}
.jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons button, .jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons button{font-weight: normal; font-family: "Cabin" !important;}
/*SIDE NAV*/

.nav-wrapper .sidenav-trigger{
  margin-right: 0px;
}

.nav-wrapper img{
  vertical-align: middle;
}

.nav-wrapper .right a{
  padding:0 15px;
}

.nav-wrapper #badge{
  width: 15px; height: 15px; border-radius: 50%; margin: 4px; font-size: 10px; display: flex; align-items: center; justify-content: center; position: absolute; right: 5px; top:7px;
}

/* -- -- */

.page{height:100vh; overflow: scroll; padding-bottom: 20%;}

ul.dropdown-content.select-dropdown li span {
    color: #283593;
}

/* TABS */
.tabPage{
  height: 100vh; overflow: hidden;
}

.tabPage .page{
  height: 100%; overflow-x: hidden; overflow-y: scroll;
}




.tabs .tab a{opacity: 0.4 !important; text-transform: none !important;}

.tabs .tab.disabled a, .tabs .tab.disabled a p span{opacity: 0.3 !important;}
.tabs .tab:not(.disabled) a:focus, .tabs .tab:not(.disabled) a.active{ background-color: transparent; opacity: 1 !important; }
.tabs .tab:not(.disabled) a:focus p span, .tabs .tab:not(.disabled) a.active p span{opacity: 1 !important; }

.tabs .indicator{background-color: transparent; height: 4px;}

.indicator-on.tabs .tab:not(.disabled) a:focus, .indicator-on.tabs .tab:not(.disabled) a.active{ background-color: rgba(255,255,255,0.1); opacity: 1 !important; }
.indicator-on.tabs .indicator{background-color: rgba(255,255,255,0.4); height: 2px;}



.datepicker-date-display{
  background-color: #283593;
}

.datepicker-container .is-today{
  color:  #3647c7 !important;
}

.datepicker-container .datepicker-footer button{
  color:  #283593;
}

input[type="text"]:focus, input[type="tel"]:focus{
  border-bottom: 1px solid #283593 !important;
}

/*input[type="text"]::placeholder{
  color: #6573df
}*/


/* -- -- */


/* FIX BUG TABS */

.tabs-content.carousel { height: 100% !important; }
.tabs-content .carousel-item {height: 100% !important; overflow-y: scroll; }

/* -- -- */

/* MATERIALIZE CSS */

.container{
  width: 90%;
}

/*.collection{
  margin-top: 0px !important;
  border:none !important;
}

.collection li{
  border:none !important;
}*/

.tableMin thead th{
  padding: 5px 0 !important;  
}

.tableMin tbody td{
padding: 5px 0 !important;
}

/* -- -- */

/* MODAL */

.modal-fullscreen.open{
  max-width: 100%; max-height: 100%; width: 100%; height: 100%; top: 10px !important; border-radius: 0;
}

.modal-fullscreen > .modal-content {
  height: 100%; min-height: 100%;
}

.modal-semifullscreen.open{
  max-width: 100%; max-height: calc(100% - 56px); width: 100%; height: calc(100% - 56px); border-radius: 0;
}

.modal-semifullscreen > .modal-content {
  height: calc(100% - 56px);
}

.modal #modalContent{
  font-size: 16px;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.badgee{width: 10px; height: 10px; border-radius: 50%; margin: 4px; font-size: 10px; display: flex; align-items: center; justify-content: center; position: absolute; right:15px; top: 7px;}
.badge_new{font-size: 8px; height: 13px; width: 30px; margin: 4px; display: flex; align-items: center; justify-content: center; position: absolute; right:-1px; top: 3px;}
.badge2{font-size: 12px; position: relative; top: -13px; left: 4px; padding: 2px 6px; background-color: #26a69a;}

.brown-lighten{background-color: #323440 !important;}
.brown-darken{background-color: #2c2e3a !important;}
.grey-darken{background-color: #3c3e4a !important;}

/* STYLE TEXT */
.fs7{font-size: 7px !important;}
.fs8{font-size: 8px !important;}
.fs9{font-size: 9px !important;}
.fs10{font-size: 10px !important;}
.fs11{font-size: 11px !important;}
.fs12{font-size: 12px !important;}
.fs13{font-size: 13px !important;}
.fs14{font-size: 14px !important;}
.fs15{font-size: 15px !important;}
.fs16{font-size: 16px !important;}
.fs18{font-size: 18px !important;}
.fs20{font-size: 20px !important;}
.fs20b{font-size: 20px;}
.fs22{font-size: 22px !important;}
.fs24{font-size: 24px !important;}
.fs25{font-size: 25px !important;}
.fs26{font-size: 26px !important;}
.fs28{font-size: 28px !important;}
.fs30{font-size: 30px !important;}
.fs32{font-size: 32px !important;}
.fs34{font-size: 34px !important;}
.fs35{font-size: 35px !important;}
.fs36{font-size: 36px !important;}
.fs38{font-size: 38px !important;}
.fs40{font-size: 40px !important;}
.fs42{font-size: 42px !important;}
.fs44{font-size: 44px !important;}
.fs45{font-size: 45px !important;}
.fs46{font-size: 46px !important;}
.fs48{font-size: 48px !important;}
.fs50{font-size: 50px !important;}
.fs52{font-size: 52px !important;}
.fs54{font-size: 54px !important;}
.fs55{font-size: 55px !important;}
.fs56{font-size: 56px !important;}
.fs58{font-size: 58px !important;}
.fs60{font-size: 60px !important;}
.fs60b{font-size: 60px;}
.fs65{font-size: 65px !important;}
.fs70{font-size: 70px !important;}
.fs80{font-size: 80px !important;}
.fs90{font-size: 90px !important;}
.justify{text-align: justify !important;}
.bold{font-weight: 600 !important}
.italic{font-style: italic !important}
.lighter{font-weight: lighter !important}

.white-90{background-color: rgba(255,255,255,0.9);}
.white-40{background-color: rgba(255,255,255,0.4);}
.white-60{background-color: rgba(255,255,255,0.6);}
.white-50{background-color: rgba(255,255,255,0.5);}

.lh12{line-height: 12px !important;}
.lh14{line-height: 14px !important;}
.lh15{line-height: 15px !important;}
.lh16{line-height: 16px !important;}
.lh18{line-height: 18px !important;}
.lh20{line-height: 20px !important;}
.lh24{line-height: 24px !important;}
.lh26{line-height: 26px !important;}
.lh30{line-height: 30px !important;}
.lh55{line-height: 55px !important;}
.lh60{line-height: 60px !important;}

.p0{padding:0px !important;}
.p5{padding:5px !important;}
.p10{padding:10px !important;}
.p15{padding:15px !important;}
.p20{padding:20px !important;}
.p25{padding:25px !important;}

.p0-5{padding: 0 5px !important;}
.p0-10{padding: 0 10px !important;}
.p0-15{padding: 0 15px !important;}
.p0-20{padding: 0 20px !important;}

.p5-0{padding: 5px 0 !important;}
.p10-0{padding: 10px 0 !important;}
.p10-5{padding: 10px 5px !important;}
.p15-0{padding: 15px 0 !important;}
.p20-0{padding: 20px 0 !important;}

.m0{margin:0px !important;}
.m5{margin:5px !important;}
.m5-0{margin:5px 0 !important;}
.m10{margin:10px !important;}
.m15{margin:15px !important;}
.m20{margin:20px !important;}
.m20-0{margin:20px 0 !important;}
.m25{margin:25px !important;}

.m10-0{margin:10px 0 !important;}
.m15-0{margin:15px 0 !important;}


.va-middle{ vertical-align: middle; }

.w10{width: 10% !important;}
.w20{width: 20% !important;}
.w30{width: 30% !important;}
.w40{width: 40% !important;}
.w50{width: 50% !important;}
.w60{width: 60% !important;}
.w70{width: 70% !important;}
.w80{width: 80% !important;}
.w85{width: 85% !important;}
.w90{width: 90% !important;}
.w95{width: 95% !important;}
.w100{width: 100% !important;}

.h10{height: 10% !important;}
.h20{height: 20% !important;}
.h30{height: 30% !important;}
.h40{height: 40% !important;}
.h50{height: 50% !important;}
.h60{height: 60% !important;}
.h70{height: 70% !important;}
.h80{height: 80% !important;}
.h90{height: 90% !important;}
.h100{height: 100% !important;}

.min-heigth-100{min-height: 100% !important;}

.min-height-80{min-height: 80% !important;}

.h55px{height: 55px !important;}
.h60px{height: 60px !important;}

.sidenav-overlay{z-index: 1000;}

.opacity-1{ opacity: 0.1 !important; }
.opacity-2{ opacity: 0.2 !important; }
.opacity-3{ opacity: 0.3 !important; }
.opacity-4{ opacity: 0.4 !important; }
.opacity-5{ opacity: 0.5 !important; }
.opacity-6{ opacity: 0.6 !important; }
.opacity-7{ opacity: 0.7 !important; }
.opacity-8{ opacity: 0.8 !important; }
.opacity-9{ opacity: 0.9 !important; }
.opacity-10{ opacity: 1 !important; }

.text-shadow-0px{text-shadow: 1px 1px 0px black;}
.text-shadow-1px{text-shadow: 1px 1px 1px black;}
.text-shadow-2px{text-shadow: 1px 1px 2px black;}
.text-shadow-3px{text-shadow: 1px 1px 3px black;}

.btn-default{
  background-color: #283593;
  color: white;
  border: none;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

.btn-default-disabled{
  pointer-events: none !important;
  background-color: #DFDFDF !important;
  box-shadow: none !important;
  color: #9F9F9F !important;
  cursor: default !important;
}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {background-color: #283593;}
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {border: 2px solid #283593;}
[type="checkbox"]:checked+span:not(.lever):before {border-right: 2px solid #283593; border-bottom: 2px solid #283593;}

.disabled-field{
  pointer-events: none !important;
  cursor: default !important;
}

.rounded-0{border-radius: 0px !important;}
.rounded-0-0-5-5{border-radius: 0 0 5px 5px !important;}
.rounded-0-0-10-10{border-radius: 0 0 10px 10px !important;}
.rounded-0-0-30-30{border-radius: 0 0 30px 30px !important;}
.rounded-5{border-radius: 5px !important;}
.rounded-10{border-radius: 10px !important;}
.rounded-10-10-0-0{border-radius: 10px 10px 0 0 !important;}
.rounded-20-20-0-0{border-radius: 20px 20px 0 0 !important;}
.rounded-20{border-radius:20px !important;}
.rounded-30-30-0-0{border-radius: 30px 30px 0 0 !important;}
.rounded-50{border-radius:50px !important;}
.rounded-50per{border-radius:50% !important;}

.rounded-bottom-10{border-radius: 0px 0px 10px 10px;}

.border-none{border: none !important;}
.border-f1{border: 1px rgba(255,255,255,0.08) solid;}
.border-f2{border: 1px #acb6fb solid;}
.border-f3{border: 3px rgba(255,255,255,0.4) solid;}

.border-bottom1{border-bottom: 1px rgba(255,255,255,0.0) solid !important;}

.margin-0{margin:0px;}

.uppercase{text-transform: uppercase;}
.lowercase{text-transform: lowercase;}
.text-transform-none{text-transform: none}

.fixed{position: fixed;}
.absolute{position: absolute;}
.relative{position: relative;}

.display-none{display: none;}

.input-form{position: absolute; width: calc(100% - 38px) !important;}
.posfix{position: absolute; right:0px; padding:10px 5px 10px 0px; line-height:32px !important; /*border-radius:0 5px 5px 0; border-bottom: 1px solid #9e9e9e;*/}

.z-index{z-index: 998 !important}

.vh100{height: 100vh}
.vw100{width: 100vw}
.dvh100{height: 100dvh}


.overflow-hidden{overflow: hidden;}
.overflow-scroll{overflow: scroll;}

.bottom0{bottom:0px;}

hr.red {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #c31f1f;
  margin: 1em 0;
  padding: 0; 
}

.ul {
  list-style: square;
  width: 100%;
}

.ul li {
  padding-left: 1.28571429em;
  text-indent: -1.3em;
  text-align: justify;
}

.ul li:before {
  font-family: "Material Icons";
  content: '\e876';
  padding-right: 5px;
}

.ul2 li {
  padding-left: 2.5em;
  text-indent: -1.3em;
  text-align: justify;
}

.ul2 li:before {
  font-family: "Material Icons";
  content: '\e876';
  padding-right: 5px;
}

.olCheck {
  width: 100%;
  padding:0px 0px 0px 20px;
}

.olCheck li {
  padding-left: 0em;
  text-indent: 0em;
  text-align: justify;
}

.olCheck li:before {
  padding-right: 2px;
}

/* -- -- -- */

.flex-vertical-center{
  display: flex;
  align-items: center;
}

.sidenav-back{
  margin-right: 0px;
  float: left;
  position: relative;
  z-index: 1;
  height: 56px;
  margin: 0 18px;
  background-color: transparent;
}


/* MOBILE */

label span{-webkit-tap-highlight-color: transparent;}

@media only screen and (min-width: 993px){
  nav a.sidenav-trigger{
    display: block;
  }
}

/* HIDE SCROLL BAR MOBILE */
::-webkit-scrollbar { 
    display: none; 
}
/* -- -- */